* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 825px;
  margin: 50px auto;
  border: black solid 4px;
  position: relative;
}
.container::after {
  content: "SALE";
  background-color: red;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  padding: 4px 10px;
  position: absolute;
  top: -15px;
  left: -25px;
}
.main-header {
  background-color: rgb(234, 232, 232);
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
}

.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline;
}
.product-h {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
li {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.color {
  background-color: black;
  height: 22px;
  width: 22px;

  /* margin-right: 10px; */
}
.colors {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.color-blue {
  background-color: blue;
}
.color-green {
  background-color: green;
}
.color-red {
  background-color: red;
}
.color-aqua {
  background-color: aqua;
}
.color-blueviolet {
  background-color: blueviolet;
}
.add-cart {
  background-color: black;
  color: white;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  border-top: black solid 4px;
}
.add-cart:hover {
  background-color: white;
  /* border-top: black solid 4px; */
  color: black;
}

.main {
  display: flex;
  gap: 40px;
}
.price-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.middle {
  margin-top: 20px;
  flex: 1;
}
.rightside {
  flex: 1;
  margin-top: 20px;
  /* margin-right: 20px; */
}
